.App {
  text-align: center;
}

.container{
  padding: 1em;
  display: flex;
  flex-flow: row wrap;

}

.container h1{
  padding: 10px;
}

.movie__item{
  box-shadow: 0 0 18px rgba(214,214,214,.6);
}


}