

.container{
  padding: 1em;
  display: flex;
  flex-flow: row wrap;

}

.movie__item{
  box-shadow: 0 0 18px rgba(214,214,214,.6);
  flex: 0 0 20%;
}

.movie__title{
  padding: 10px;
  text-align: center;
  font-size: 1rem;
}

.movie__popster{
  max-width: 15%;
}



